{% extends 'core/base.html' %}


{%block content %}{% load  static %}
<main id="blog">
   
    <div class="contenedor">
        <aside>
            <h3 class="titulo">Temas</h3>
            <nav class="indice">
                <a href="">¿Que son las suscripciones de videojuegos?</a>
                <a href="#">Suscripciones Compatibles con diversos dispositivos</a>
                <a href="#">¿Que es el juego en la nube?</a>
            </nav>
        </aside>
        <div class="contenido">
            <div class="post">
                <h1 class="titulo">¿Que son las suscripciones de videojuegos?</h1>
                <p class="fecha">Publicado el 30 de Enero de 2023</p>
                <p>
                    Los servicios de juegos les permiten, a aquellos que deciden suscribirse a ellos, poder disfrutar de un largo listado 
                    de videojuegos pagando solo una cuota mensual o anual,
                    lo que significa que no deberán desembolsar los más de 40 dolares que suele costar cada título.
                    Por mala suerte, no existe ningún servicio de este tipo que te de acceso a todos los juegos que salen al mercado cada año. 
                    Sin embargo, existen algunas opciones que merecen la pena tener en cuenta,
                    especialmente si sueles apostar siempre por la misma plataforma.
                </p>
                
            </div>
            <div class="post">
                <h1 class="titulo">Suscripciones Compatibles con diversos dispositivos</h1>
                <p class="fecha">Publicado el 30 de Enero de 2023</p>
                <p>
                    Consolas Xbox Series X|S, Xbox One, PlayStation 5, PlayStation 4 y Nintendo Switch. Descarga juegos de PC o juega a títulos de consola desde Windows o Linux
                    Juega en teléfonos y tabletas Android desde la app móvil, Haz streaming de juegos de Xbox directamente en los Smart TV de Samsung 2022 seleccionados.
                </p>
            </div>
            <div class="post">
                <h1 class="titulo">¿Que es el juego en la nube?</h1>
                <p class="fecha">Publicado el 30 de Marzo de 2023</p>
                <p>
                    El juego en la nube viene ya un tiempo vendiéndose como el futuro de la industria, y cada vez hay más empresas que muestran sus propuestas destinadas a 
                    permitirnos jugar allá donde una buena conexión nos alcance sin preocuparnos de tener un buen ordenador o consola.
                </p>
            </div>		
        </div>
    </div>
</main>
<br>
<footer>
    <div class="contenedor-imagen">
        <img src="https://assets.weforum.org/article/image/K8m6yZfPSSNbJ6RG67iz0XperDmOyeyzmkU7c4pd_NI.jpeg" alt="">
    </div>
</footer>
{%endblock%}