{% extends 'core/base.html' %}


{%block content %}{% load  static %}
<main id="blog">
    <div class="contenedor">
        <div class="contenido">
            <div class="post">
                <h1 class="titulo">Inicios</h1>
                <p class="fecha">Publicado el 30 de Enero de 2023</p>
                <p>
                   El sitio web empezo como una idea creativa de encontrar informacion reunida en un solo espacio, donde se pueda encontrar 
                   diversos temas o un solo tema en conjunto, como esta pagina se creo con un fin tecnologico, se desarrolla en base al gusto del 
                   creador de la pagina web, acerca de los videojuegos en este caso las suscripciones a diferentes servicios
                   que tiene las desarrolladoras de videojuegos mas importantes actualmente, con esta idea se creo este sitio donde podras conocer informacion
                   basica pero esencial al momento de querer adquirir alguna suscripcion de los servicios presentados.
                </p>
                <div class="">
                    <img src="https://img.freepik.com/vector-premium/procesos-gestion-empresa-establecimiento-inicio-negocios_88272-3998.jpg?w=2000" alt="" wight="1200px" height="300px" >
                </div>
            </div>
            <div class="post">
                <h1 class="titulo">Mision</h1>
                <p class="fecha">Publicado el 30 de Enero de 2023</p>
                <p>
                    “Informar a jugadores, desarroladores o cualquier tipo de persona la innovación de la tecnologia
                    y como existen productos nuevos o ya creados anteriormente que puede facilitar la vida y economia de las personas.
                    Contribuyendo con pertinencia a las necesidades de los sectores productivos, sociales, empresariales y tecnologicos.”
                </p>
            </div>
            <div class="post">
                <h1 class="titulo">Valores</h1>
                <p class="fecha">Publicado el 30 de Enero de 2023</p>
                <p>
                    <li>Excelencia</li>
                    <li>Integridad</li>
                    <li>Compromiso</li>
                    <li>Informacion veridica</li>
                </p>
                <iframe

                width="885"

                height="498"

                src="https://www.youtube.com/embed/ZcHj9kiYZYU"

                title="Valores"

                frameborder="0"

                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"

                allowfullscreen

                ></iframe>
            </div>		
        </div>
    </div>
</main>
<br>
{%endblock%}
